@charset "utf-8";

/*reset*/
html,body,div,nav,header,footer,section,ul,li,a,img,p,button{margin:0;padding:0;}
ul{list-style: none;}
a{text-decoration: none;}
body{font-size:16px;}
button{border:none;border-style: none;}

body{background-color:#dedede;}
/*header footer*/
header{
	width: 100%;
	background-color: #333333;
	height: 60px;
}

.log{
	margin-left:40px;
	float: left;
}
nav{float: right;}
nav li{
	display: inline-block;
	width: 80px;
	height: 60px;
	line-height: 60px;
}

nav li a{
	color: white;
	font-size:12px;
	text-align: center;
}

footer{
	width: 100%;
	background-color: #333333;
	height: 70px;
}

footer p{
	width:100%;
	height: 100%;
	line-height: 70px;
	color:white;
	font-weight: bold;
	text-align: center;
}


/*content*/
#content{
	padding:20px;
}
.leftSide{
	margin-right:420px;
	border:1px solid #cdcdcd;
}
.rightSide{
	width:360px;
	float: right;
	border:1px solid #cdcdcd;
	margin-bottom:-9999px;
	background-color: white;
	padding:20px;
}

.page{
	background-color: white;
	margin-top:20px;
	padding:20px 20px 40px 20px;
	overflow: hidden;
}

.page:nth-of-type(1){
	margin-top:0;
}

.page p{
	line-height: 26px;
	text-indent: 2em;
}
.page img{
	margin:10px 0;
}

.pic{
	float: left;
	border:1px solid #ccc;
	margin:10px;
	padding:10px;
}

.pic p{
	text-indent: 0em;
	text-align: center;
}

.page4 p{
	text-indent: 0em;
}
.leftSide table{
	width: 100%;
	font-size:12px;
	box-sizing:border-box;
	text-align: left;
	border-left:1px solid #ccc;
	border-collapse:collapse;
	border-spacing:0;
}

.leftSide thead{
	background-color: #333333;
	color:white;
}

.leftSide tfoot{
	background-color: #cccccc;
	font-weight: bold;	
}

.leftSide th,.leftSide td{
	border-right:1px solid #ccc;border-bottom:1px solid #ccc;padding: 5px;
}

.leftSide td a{
	text-decoration:underline;
}

.leftSide ul,.leftSide ol{
	margin-left: 20px;
}
.leftSide ul li,.leftSide ol li{
	padding: 5px;
}


/*rightSide*/
.rightSide .tit{
	padding:10px;
	font-size: 18px;
	border-left: 3px solid #ccc;
	font-weight: bold;
}

.rightSide tr td:nth-of-type(1){
	text-align: right;
	padding:10px;
	
}

.rightSide tr td{
	font-size:12px;

}

.rigthSide form{
	width: 100%;
}
.btn{
	width: 320px;
	height: 40px;
	margin:10px auto;
	border-radius: 10px;
	background-color: #3355d0;
	color:white;
	font-size: 12px;
	display: block;
}



/*common*/
.boxSh{
	box-shadow:2px 2px 2px gray;
}

h2{
	color:#68686a;
	font-weight: bold;
}

h3{
	color:#a19eb3;
	font-size:12px;
	font-weight: bold;
}
.grayFont{
	color:#9ba0a3;
	padding:10px 0;
}

.active{
	color:#afafaf;
}










