@charset 'UTF-8'
/*
	_FileName: css.css;
	_Version:1.0;
	_Author:MaKai;
	_Date:20/3/2016;	
*/

.wrap{
	overflow: hidden;
}

.left{
	width: 160px;
}
h2{
	font-size:12px;
	float: right;
}
.right{
	width: 80px;
}

.right img{
	margin-top:20px;
}
.right img:first-child{
	margin-top:0;
}

.middle{	
	margin-left:220px;
	margin-right:140px;
}

p{
	margin-bottom:10px;
}
img{
	width: 80px;
	height: 80px;
}

.clearfix:after{
	content:".";
	display:block;
	height:0;
	clear:both;
	visibility:hidden
}
.clearfix{*+height:1%;}
.fl{
	float: left;
}
.fr{
	float: right;
}
.pd20{
	padding: 20px;
}
.bd{
	border:1px solid #999;
}

.bg{
	background-color: #eee;
}

.bgW{
	background-color: white;
}